@import url(https://fonts.googleapis.com/css?family=Inter);

#forgot{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 450px;
    height: 510px;
    background-color: #404F71;
    border-radius: 5px;
}

#forgot-title{
    font-family: 'Inter';
    font-size: 36px;
    color: white;
    padding-top: 20px;
}

.form-data{
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 15px;
    border: none;
    width: 300px;
    height: 30px;
    padding-left: 10px;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
}

#forgot-inside{
    padding-left: 65px;
}

#form-forgot{
    line-height: 10px;
    margin-top: 40px;
}

#forgot-description{
    color: white;
    font-family: 'Inter';
    padding-right: 40px;
    font-size: 20px;
}

.form-text{
    font-family: 'Inter';
    color: white;
    font-size: 16px;
    padding-left: 5px;
    font-weight: bold;
}

#forgot-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0078E8;
    color: white;
    border: none;
    font-family: 'Inter';
    width: 300px;
    height: 60px;
    font-size: 24px;
    border-radius: 10px;
    font-weight: 500;
    margin: auto;
}

#forgot-button:hover{
    cursor: pointer;
    background-color: #3d92e2;
}

#button-position{
    padding-top: 100px;
}

#incorrect-info-text{
    font-family: 'Inter';
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-left: 65px;
}
