@import url(https://fonts.googleapis.com/css?family=Inter);
@import url(https://fonts.googleapis.com/css?family=Kalam);

/* the box that holds the game's info */
#gameContainer{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 50px);
    color: white;
    /* background-color: red; */
}

#imageContainer{
    /* background-color: black; */

    grid-row: 2 / 9;
    grid-column: 1 / 3;
}

#gameImage{
    box-shadow: 5px 5px 5px black;
    width: 100%;
    height: 100%;
}

#gameTitle{
    font-weight: bold;

    margin: 0 0 0 10px;
    grid-row: 2 / 3;
    grid-column: 3 / 7;
    font-size: clamp(26px, 2vw, 40px);
}

#reviewButton{
    width: 190px;
    height: 40px;
    background-color: #0078E8;
    font-family: 'Inter';
    color: white;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;

    text-align: center;
    font-size: clamp(16px, 2vw, 24px);

    grid-row: 2 / 3;
    grid-column: 9 / 10;
}

#reviewButton:hover{
    background-color: #3d92e2;
}

#avgRating{
    font-weight: bold;

    margin: 0 0 0 10px;
    grid-row: 4 / 5;
    grid-column: 3 / 5;
    font-size: clamp(21px, 1.5vw, 35px);
}

#gameStars{
    display: inline-block;
    grid-row: 4 / 5;
    grid-column: 5 / 8;
    margin: 0;
}

.gameStarFull {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.gameStarEmpty {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

#gameDescription{
    font-weight: bold;

    margin-left: 15px;
    grid-row: 5 / -1;
    grid-column: 3 / 10;
    font-size: clamp(12px, 2vw, 16px);
} 

/* below contains the css for the review popup for when the review button is clicked */
/* my idea of putting the review popup here is because the review button is part of */
/* the game component so having the form here would maintain that consistency */

#reviewPopup{
    background-color: #404F71;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 15px;
    width: 40%;
    height: 420px;
    display: grid;
    grid-template-columns: (10, 1fr);
    grid-template-rows: (7, 60px);

    z-index: 9999; /* bring to front */
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#reviewPopupCloseButton{
    background: transparent;
    border-style: none;
    color: #D9D9D9;
    font-family: 'Kalam';
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;

    margin: 5px;
    grid-row: 1 / 2;
    grid-column: 9 / 10;
}

#reviewPopupRateText{
    color: #D9D9D9;
    font-family: 'Inter';
    font-weight: bold;

    font-size: clamp(32px, 4vw, 50px);
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-bottom: 5px;
    margin-top: auto;
    margin-left: 20px;
}

#reviewPopupStars{
    grid-row: 1 / 2;
    grid-column: 8 / 9;
    margin-top: auto;
    margin-bottom: 5px;
}

/* acts as a div */
#reviewPopupForm{
    grid-row: 2 / 6;
    grid-column: 1 / 9;

    margin-left: 20px;
}

#reviewPopupInput{
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    border-style: none;
    border-radius: 10px;
    resize: none;

    font-size: clamp(12px 3vw 20px);
    padding: 5px;
}

#reviewPopupPostButton{
    width: 160px;
    height: 40px;
    background-color: #0078E8;
    font-family: 'Inter';
    color: white;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;

    grid-row: 6 / 7;
    grid-column:  8 / 9;
    text-align: center;
    font-size: clamp(16px, 2vw, 24px);
    margin-left: 20px;
    margin-top: 20px;
}

#reviewPopupEditButton{
    width: 160px;
    height: 40px;
    background-color: #0078E8;
    font-family: 'Inter';
    color: white;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;

    grid-row: 6 / 7;
    grid-column:  8 / 9;
    text-align: center;
    font-size: clamp(16px, 2vw, 24px);
    margin-left: 20px;
    margin-top: 20px;
}

#reviewPopupDeleteButton{
    width: 160px;
    height: 40px;
    background-color: #e80000;
    font-family: 'Inter';
    color: white;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;

    grid-row: 6 / 7;
    grid-column:  2 / 3;
    text-align: center;
    font-size: clamp(16px, 2vw, 20px);
    margin-left: 20px;
    margin-top: 20px;
}

#reviewPopupPostButton:hover{
    background-color: #3d92e2;
}

/* if the viewport is less than 1400px */
@media (max-width: 1400px) and (min-width: 1150px){

    #imageContainer{
        grid-column: 1 / 3;
        grid-row: 2 / 8;
    }

    #gameTitle{
        grid-row: 2 / 3;
        grid-column: 3 / 8;
    }

    #avgRating{
        grid-column: 3 / 10;
        grid-row: 4 / 5;
    }
    
    #reviewPopup{
        width: 50%;
    }

    #gameDescription{
        grid-row: 5 / 8;
    }

    #gameStars{
        grid-row: 4 / 5;
        grid-column: 5 / 10;
    }
    
    .gameStarFull {
        width: 30px;
        height: 30px;
    }
    
    .gameStarEmpty {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 1149px) and (min-width: 890px){
    #gameContainer{
        grid-template-rows: repeat(11, 50px);
    }

    #imageContainer{
        grid-column: 1 / 4;
        grid-row: 2 / 7;
    }

    #gameTitle{
        grid-column: 4 / 8;
        grid-row: 3 / 4;
    }
    
    #reviewButton{
        width: 120px;
        height: 40px;
        margin-left: 10px;
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
    
    #avgRating{
        grid-column: 4 / 10;
        grid-row: 5 / 6; 
    }
    
    #gameDescription{
        grid-column: 1 / 10;
        grid-row: 7 / -1;    
        margin-left: 0;
    } 

    #reviewPopup{
        width: 60%;
    }

    
    #gameStars{
        grid-row: 6 / 7;
        grid-column: 4 / 10;
        margin-left: 10px;
    }
    
    .gameStarFull {
        width: 30px;
        height: 30px;
    }
    
    .gameStarEmpty {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 889px) and (min-width: 750px){
    #gameContainer{
        grid-template-rows: repeat(12, 50px);
    }

    #imageContainer{
        grid-column: 1 / 4;
        grid-row: 2 / 7;
    }

    #gameTitle{
        grid-column: 4 / -1;
        grid-row: 3 / 4;  
    }

    #reviewPopup{
        width: 60%;
    }
    
    #reviewButton{
        width: 120px;
        height: 40px;
        margin-left: 10px;
        grid-column: 4 / 4;
        grid-row: 2 / 3;
    }
    
    #avgRating{
        grid-column: 4 / 10;
        grid-row: 5 / 6;     
    }
    
    #gameDescription{
        grid-column: 1 / 10;
        grid-row: 7 / -1;     
    } 

    #gameStars{
        grid-row: 6 / 7;
        grid-column: 4 / 10;
        margin-left: 10px;
    }
    
    .gameStarFull {
        width: 30px;
        height: 30px;
    }
    
    .gameStarEmpty {
        width: 30px;
        height: 30px;
    }

    #reviewPopupEditButton{
        width: 120px;
        height: 40px;
    }

    #reviewPopupDeleteButton{
        width: 120px;
        height: 40px;
    }

}

@media (max-width: 749px) {
    #gameContainer{
        grid-template-rows: repeat(14, 50px);
    }

    #imageContainer{
        grid-column: 3 / 6;
        grid-row: 1 / 7;      
    }

    #gameTitle{
        grid-column: 1 / 10;
        grid-row: 8 / 9;
    }

    #reviewPopup{
        width: 75%;
    }
    
    #reviewButton{
        width: 100px;
        height: 30px;

        margin-top: 10px;
        grid-column: 4 / 4;
        grid-row: 7 / 7;
    }
    
    #avgRating{
        grid-column: 1 / 10;
        grid-row: 9 / 11;  
    }
    
    #gameDescription{
        grid-column: 1 / 10;
        grid-row: 11 / -1;
        overflow: hidden;
        overflow-y: auto;
    } 

    #gameStars{
        grid-row: 10 / 11;
        grid-column: 1 / 10;
        margin-left: 10px;
    }
    
    .gameStarFull {
        width: 30px;
        height: 30px;
    }
    
    .gameStarEmpty {
        width: 30px;
        height: 30px;
    }

    #reviewPopupEditButton{
        width: 120px;
        height: 40px;
        grid-column: 2 / 3;
    }

    #reviewPopupDeleteButton{
        width: 120px;
        height: 40px;
        grid-column: 1 / 2;
    }

    #reviewPopupStars{
        grid-column: 2 / 8;
        margin-left: 2px;
    }

    #reviewPopupCloseButton{

    }
}