@import url(https://fonts.googleapis.com/css?family=Inter);

/* email verification */
.form{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 450px;
    height: 510px;
    background-color: #404F71;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.form-inside{
    padding-left: 65px;
}

.form-title{
    font-family: 'Inter';
    font-size: 36px;
    color: white;
    padding-top: 20px;
}

#recovered-button{
    background-color: #0078E8;
    color: white;
    border: none;
    font-family: 'Inter';
    width: 190px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 500;
    margin-left: 65px;
    margin-top: 260px;
}

#recovered-button:hover{
    cursor: pointer;
    background-color: #3d92e2;
}