@import url(https://fonts.googleapis.com/css?family=Inter);

/* the overall layout of the page */
#searchPage{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 20px;
}

/* for the nav bar */
#searchNavigation{
    /* background-color: red; */
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding-right: 20px;
}

#searchContent{
    /* background-color: white; */
    display: grid;
    grid-template-rows: 240px 1000px;

    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#searchHeader{
    /* background-color: blue; */
    grid-row: 1 / 2;
    padding: 20px;
}

#searchedItems{
    /* background-color: black; */
    padding: 20px;
    grid-row: 2;
}

#searchTabs{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

/* show users tab */
#usersButton{
    height: 50px;
    width: 100px;
    background: transparent;
    color: #d9d9d9;
    border-style: none;
    font-size: clamp(25px, 3.5vw, 30px);
    font-weight: bold;
    grid-column: 3 / 4;
    cursor: pointer;
}

/* show games tab */
#gamesButton{
    height: 50px;
    width: 100px;
    background: transparent;
    color: #d9d9d9;
    border-style: none;
    font-size: clamp(25px, 3.5vw, 30px);
    font-weight: bold;
    grid-column: 8 / 9;
    cursor: pointer;
}

@media (max-width: 1500px) and (min-width: 860px){
    #searchPage{
        grid-template-columns: 1fr 3fr;
    }
}

@media (max-width: 859px) and (min-width: 576px){
    #searchPage{
        grid-template-columns: 1fr 3fr;
    }
}

@media(max-width: 575px){
    #searchPage{
        grid-template-columns: 1fr;
    }

    #searchNavigation{
        grid-column: 1;
        grid-row: 1;
    }

    #searchContent {
        display: grid;
        grid-template-rows: 240px 1000px;
        grid-column: 1;
        grid-row: 2;
    }
}