@import url(https://fonts.googleapis.com/css?family=Inter);

/* every review has this */
#gamereviewContainer{
    font-family: 'Inter';
    color: white;
    background-color: #404F71;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 60px);
    height: 180px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#reviewerProfilePicture{
    height: 80px;
    width: 80px;
    border-radius: 80px;
    margin-top: 10px;
    margin-left: 10px;
    grid-row: 1 / 2;
    grid-column: 1;
}

/* example: ryan kolano reviewed x game */
#activity{
    margin-left: 10px;
    grid-row: 1 / 2;
    grid-column: 2 / 8;
    font-size: clamp(0.8rem, 1.5vw, 1.2rem); 
}

#reviewDescription{
    margin-left: 10px;
    grid-row: 2 / 3;
    grid-column: 2 / 8;
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}

#likeButton{
    display: flex;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background: transparent;
    border-style: none;
    margin-left: 3px;
}

#heart{
    align-self: center;
    width: 25px;
    height: 25px;
}

/* text associated with how many likes */
#likes{
    font-size: 13px;
    align-self: center;
    color: white;
    font-family: 'Inter';
    margin-left: 8px;
}