@import url(https://fonts.googleapis.com/css?family=Inter);

/* the overall box that houses the game cards */
#grid{
    max-width: 1000px;
    width: 100%;
    margin: auto;
    height: 100%;
    padding: 25px;
    overflow: hidden;
    overflow-y: auto;
}

/* how each game card should behave in response to viewport changes */
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}