@import url(https://fonts.googleapis.com/css?family=Inter);
@import url(https://fonts.googleapis.com/css?family=Kalam);

/* the box that holds the game's info */
#gameContainer{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 50px);

    color: white;
    /* background-color: red; */
}

#imageContainer{
    /* background-color: black; */
    grid-row: 2 / 9;
    grid-column: 1 / 3;
}

#gameImage{
    width: 100%;
    height: 100%;
}

#gameTitle{
    margin: 0 0 0 10px;
    grid-row: 2 / 3;
    grid-column: 3 / 7;
    font-size: clamp(26px, 2vw, 40px);
    font-weight: bold;
}

#reviewButton{
    width: 190px;
    height: 40px;
    background-color: #0078E8;
    text-align: center;
    font-family: 'Inter';
    color: white;
    font-size: clamp(16px, 2vw, 24px);
    border-radius: 10px;
    border-style: none;
    grid-row: 2 / 3;
    grid-column: 9 / 10;
    cursor: pointer;
}

#avgRating{
    margin: 0 0 0 10px;
    grid-row: 4 / 5;
    grid-column: 3 / 10;
    font-size: clamp(21px, 1.5vw, 35px);
    font-weight: bold;
}

#gameDescription{
    margin-left: 15px;
    grid-row: 5 / -1;
    grid-column: 3 / 10;
    font-size: clamp(12px, 2vw, 16px);
    font-weight: bold;
} 

/* below contains the css for the review popup for when the review button is clicked */
/* my idea of putting the review popup here is because the review button is part of */
/* the game component so having the form here would maintain that consistency */

#reviewPopup{
    background-color: #404F71;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    z-index: 9999;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 450px;
    height: 420px;
}

#reviewPopupCloseButton{
    background: transparent;
    border-style: none;
    color: #D9D9D9;
    font-family: 'Kalam';
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    float: right;
}

#reviewPopupRateText{
    color: #D9D9D9;
    font-family: 'Inter';
    font-size: clamp(32px, 4vw, 50px);
    font-weight: bold;
    width: 320px;
    height: 60px;
    margin-top: 60px;
    margin-bottom: 0;
    margin-left: 20px;
}

/* acts as a div */
#reviewPopupForm{
    width: 80%;
    height: 50%;
    margin-left: 20px;
}

#reviewPopupInput{
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    border-style: none;
    border-radius: 10px;
    font-size: clamp(12px 3vw 20px);
    padding: 5px;
    resize: none;
}

#reviewPopupPostButton{
    width: 160px;
    height: 40px;
    background-color: #0078E8;
    text-align: center;
    font-family: 'Inter';
    color: white;
    font-size: clamp(16px, 2vw, 24px);
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
}

/* if the viewport is less than 1400px */
@media (max-width: 1400px) and (min-width: 1150px){

    #imageContainer{
        grid-row: 2 / 7;
        grid-column: 1 / 3;
    }

    #avgRating{
        grid-row: 3 / 4;
        grid-column: 3 / 10;
    }

    #gameDescription{
        grid-row: 4 / 5;
    }
}

@media (max-width: 1149px) and (min-width: 890px){
    #gameContainer{
        grid-template-rows: repeat(11, 50px);
    }

    #imageContainer{
        grid-row: 2 / 7;
        grid-column: 1 / 4;
    }

    #gameTitle{
        grid-row: 3 / 4;
        grid-column: 4 / 8;
    }
    
    #reviewButton{
        margin-left: 10px;
        grid-row: 2 / 3;
        grid-column: 4 / 5;
    }
    
    #avgRating{
        grid-row: 4 / 5;
        grid-column: 4 / 10;
    }
    
    #gameDescription{
        grid-row: 7 / -1;
        grid-column: 1 / 10;
        margin-left: 0;
    } 
}

@media (max-width: 889px) and (min-width: 750px){
    #gameContainer{
        grid-template-rows: repeat(12, 50px);
    }

    #imageContainer{
        grid-row: 2 / 7;
        grid-column: 1 / 4;
    }

    #gameTitle{
        grid-row: 3 / 4;
        grid-column: 4 / 7;
    }
    
    #reviewButton{
        margin-left: 10px;
        grid-row: 2 / 3;
        grid-column: 4 / 4;
    }
    
    #avgRating{
        grid-row: 4 / 5;
        grid-column: 4 / 10;
    }
    
    #gameDescription{
        grid-row: 7 / -1;
        grid-column: 1 / 10;
    } 
}

@media (max-width: 749px) {
    #gameContainer{
        grid-template-rows: repeat(14, 50px);
    }

    #imageContainer{
        grid-row: 2 / 7;
        grid-column: 3 / 6;
    }

    #gameTitle{
        grid-row: 8 / 9;
        grid-column: 1 / 10;
    }
    
    #reviewButton{
        margin-top: 10px;
        width: 100px;
        height: 30px;
        grid-row: 7 / 7;
        grid-column: 4 / 4;
    }
    
    #avgRating{
        grid-row: 9 / 10;
        grid-column: 1 / 10;
    }
    
    #gameDescription{
        grid-row: 11 / -1;
        grid-column: 1 / 10;
    } 
}