@import url(https://fonts.googleapis.com/css?family=Inter);

/* the box that holds the image/name of the game */
.card{
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    width: 100%;
    margin-bottom: 20px;
    transition: all .2s ease-in-out; 
    border: 2px solid transparent;
}
  
/* make the card bigger when its hovered */
.card:hover{
    transform: scale(1.1); 
    cursor: pointer;
}

#cardImage{
    width: 100%;
    height: 400px;
}

#cardGameTitle{
    font-family: 'Inter';
    font-size: 30px;
    color: white;
    text-align: center;
}