@import url(https://fonts.googleapis.com/css?family=Inter);

/* the box that holds the image/name of the game */
.card{
    width: 250px;
    transition: all .2s ease-in-out; 
    border: 2px solid transparent;
    background: transparent;
}
  
/* make the card bigger when its hovered */
.card:hover{
    transform: scale(1.1); 
    cursor: pointer;
}

#cardImage{
    width: 100%;
    height: 400px;
}

#cardGameTitle{
    font-family: 'Inter';
    font-size: clamp(20px, 3vw, 30px);
    color: white;
    text-align: center;
}

@media(max-width: 859px) and (min-width: 576px){
    .card{
        width: 200px;
    }
}
