@import url(https://fonts.googleapis.com/css?family=Inter);

.nav-text{
    font-family: 'Inter';
    color: rgb(169, 169, 169);
    text-decoration: none;
}

.nav-text:hover{
    color: white;
}

#navbar{
    /* I added margins to your navbar so your links dont get overlapped by
    by others*/
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 40px;
    /*padding-left: 40px;*/
    width: 100%;
}

#icon-navbar{
    height: 100px;
    margin-bottom: 40px;
}