@import url(https://fonts.googleapis.com/css?family=Inter);

/* a section for the search form */
#searchBar{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 50px);
}

#searchButton{
    height: 50px;
    width: 50px;
    background: transparent;
    border-style: none;
    cursor: pointer;

    grid-row: 2;
    grid-column: 1 / 2;
    margin-right: 5px;
    padding: 0;
}

#searchIcon{
    height: 100%;
    width: 100%;

    margin: 0;
}

/* form input */
#searchInput{
    background-color: #d9d9d9;
    border-style: none;
    border-radius: 20px;
    font-family: 'Inter';

    font-size: clamp(25px, 3vw, 35px);
    grid-column: 2 / 11;
    grid-row: 2;
}