@import url(https://fonts.googleapis.com/css?family=Inter);

/* holds the profile pic, name, email, stars */
#userContainer{
    font-family: 'Inter';
    color: white;
    background-color: #404F71;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 50px);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#userProfilePicture{
    height: 80px;
    width: 80px;
    border-radius: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

#userName{
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    font-size: clamp(20px, 3vw, 40px);
    margin: 0;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 5px;
}

#userEmail{
    margin: 0;
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    font-size: clamp(16px, 3vw, 25px);
    margin-left: 20px;
}

@media (max-width: 439px){
    #userContainer{
        grid-template-rows: repeat(4, 50px);
    }

    #userName{
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }

    #userEmail{
        grid-column: 1 / -1;
        grid-row: 4 / 5;
    }
}