#profilePage{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 20px;
}

#posts{
    position: relative;
    left: 10%;
}

#yourratings{
    position: fixed;
    color: white;
    font-family: 'Inter';
    left: 28%;
    top: 12%;
    font-size: clamp(0.983rem, -0.179rem + 2.976vw, 2.5rem);
}

#usernameOfUser{
    color: white;
    font-size: 36px;
    font-weight: bold;
}

#nameOfUser{
    color:white;
    font-size: 48px;
    font-weight: bold;
}

#UserTitle{
    line-height: 20px;
    padding-bottom: 50px;
    padding-left: 10px;
}

#userPicture{
    height: 200px;
    width: 200px;
    border-radius: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.UserHeader{
    display: inline-block;
}

@media (max-width: 869px) and (min-width: 701px){
    #yourratings{
        top: 14%;
        left: 35%;
    }
}

@media (max-width: 700px) {
     #yourratings{
        font-size: 30px;
        left: 35%;
    }
}
